* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    display: flex;
    flex-direction: column;
}
footer {
    width: 100%;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#top, .footer-info-section, .footer-settings-section, .footer-services-section {
    width: 100%;
}
.footer-services-section{
    background-color:#21262D;;
}
.footer-info-section,.footer-settings-section{
    background-color: #242F3D;
}
#top {
    height: 6%;
    flex-shrink: 0;
    background-color: #394259;
}
.footer-info-section {
    flex-shrink: 0;
    border-bottom: 1px solid white;
}
.footer-settings-section {
    height: 14%;
    flex-shrink: 0;
}
.footer-services-section {
    height: 44%;
    flex-shrink: 0; 
}
.top-container, .info-container, .settings-container, .services-container {
    width: 80%;
    height: 100%;
}
.settings-container{
    display: flex;
    justify-content: space-around;
}
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0; 
}
.info-container>div {
    width: 20%;
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    flex:1;
    width: 90%;
    display: flex;
    align-items: center;
}

.info-container>div>ul{
    flex: 3;
    width: 90%;
}
.info-container>div>ul>li{
    margin-bottom: 10px;
}
form{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 15%;
}
.services-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap:3%;
    box-sizing: border-box;
    padding-top: 15px;
}
form>select{
    width:120px;
    background-color:  #242F3D;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height:30px;
    text-align:center;
}
ul{
    list-style-type: none;
}
h4,p,h3{
    color:white;
    font-weight: bold;
}
a{color:rgb(231, 226, 226);
text-decoration: none;}
p{text-align: center;
}
@media (max-width: 1200px) {
    .info-container > div {
        width: 40%;
        margin-bottom: 10px;
    }
    .info-container{
        width: 65%;
        justify-content: space-around;
    }
    .services-container{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto ;
     
    }
}

@media(max-width:850px)
{
    .info-container > div {
        width: 80%;
        margin-bottom: 10px;
    }
    .info-container{
        width: 40%;
        justify-content: center;
    }
    form{
        flex-direction: column;
    }
    form>select{
        margin-bottom: 10px;
    }
    
    img{
        width: 30%;
    }
}
@media(max-width:500px)
{
    
    .info-container{
        width: 70%;
        justify-content: center;
    }
    h3{
        font-size: 15px;
    }
    .info-container>div>ul>li{
        margin-bottom: 5px;
    }
    .services-container{
        gap:1%;
    }
}