body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    
}
#container{
    width: 98%;
    height: 98%;
    /* border: 1px solid black; */
    margin:auto;
    display:flex;
    flex-direction: column;
   justify-content: space-between;
}
header{
    width: 100%;
    height: 36%;
    border-bottom:2px solid gray;
}
main{
    width:100%;
    height: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid black; */
}
h3{
    display: inline-block;
    width: 5%;
}
header>h1{
    display: inline-block;
    bottom:13%; 
}
@media(max-width:900px)
{
h3{
    font-size: 50%;
}
header>h1{
    font-size: 60%;
}
li>a{
    font-size: 90%;
}
h2{
    font-size: 90%;
}
header>p{
font-size: 100%;
padding-top:4%;
height: 30%;
}
ol>li{
    margin-left: 6%;
}


}

@media(min-width:901px){
    li>a{
    font-size: 133%;
}

header>p{
    font-size: 245%;
    height: 25%;
    position: relative;
    bottom:2%;
    padding-top: 0.5%;
}
h2{
    font-size: 140%;
}
ol>li{
    margin-left: 10%;
}
}
@media(max-height:600px)
{
    h3{
        font-size: 30%;
    }
    header>h1{
        font-size: 60%;
    }
    header>p{
        height:12%;
       
    
    }
    .section3,.section2,.section1{
        overflow-y: scroll;
    }
}
@media(min-height:601px){
header>p{
    height: 25%;
    bottom:4%;
    position: relative;
}}
@media(max-width:1150px){
    ul{
    padding: 7%;
}
ul>li{
    margin-top: 11%;
    font-size: 90%;
}
header>h1{
    position: relative;
    left:20%;
}
.section2>p{
    font-size:90%;
}
.left{
    margin-left: 8%;
}
label+input{
    width: 50%;
}
}
@media(max-width:700px)
{
ul{
    list-style-type: none;
}
}
.section2>p{
    text-align:start;}
@media(min-width:1151px)
{
    .section2>p{
        font-size: 150%;
    }
    ul{
    padding: 9%;
}
ul>li{
    margin-top:3%;
    font-size: 160%;

}
header>h1{
    font-size: 240%;
    position: relative;
    left: 35%;
}
label+input{
    display: inline-block;
    width: 45%;
}
.left{
    margin-left: 16%;
 }
}
li>a{
    color:aquamarine;
}
ol{
    list-style-type: none;
    /* border:1px solid black; */
    position: relative;
    bottom:10%;
}
ol>li{
    display:inline;
   
}

img{
    position: relative;
    left: 1%;
}

header>p{
    /* border:1px solid black; */
   color:gray;
   width: 98%;
   margin:0 auto;
   box-sizing: border-box;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 background-color: rgb(128, 159, 185);

}
header>h1,h3{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}
.section1{
height: 96%;
width: 32%;
/* border: 1px solid black; */
background-color: lavender;
border-radius: 4%;
margin: 0 auto;
text-align: center;
}
.section1>a{
    display: block;
    position: relative;
    top:3%;
}
.section2{
    text-align: center;
    height: 96%;
    margin: 0 auto;
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4%;
background-color:rgb(197, 169, 197);
    /* border: 1px solid black; */
}
.section3{
    text-align: center;
    margin: 0 auto;
    border-radius: 4%;
    height: 96%;
    width: 32%;
  background-color:rgb(163, 154, 181);
    /* border: 1px solid black; */
}
.section1>a{
  text-decoration: none;
  font-size: 130%;
  color: black;
    display: block;
} 

 ul>li{
   text-align: start;

 }
 ul{
    text-align: start;
 }
 label{
    display: block;
 }
 form{
    text-align: start;
 }
 label>input{
    margin-top: 4%;
   
 }
a:hover{
   color:brown;

}
.section1:hover{
    background-color:lightpink;
    transform: translate(0%,-5%);
}
.section2:hover{
    background-color:lightpink;
    transform: translate(0%,-5%);
}
.section3:hover{
    background-color:lightpink;
    transform: translate(0%,-5%);
}