*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 250%;
    width: 100%;
    border: 1px solid black;

body{
    height: 100%;
    width: 100%;
}}
main{
    height: 95%;
    width: 100%;
    border:1px solid black;
}
.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}