* {
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0F172A;
 
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.stable {
    width: 45%;
    height: fit-content;
    position: sticky;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.site_info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 250px;
}

.site_info h1 {
    font-size: 45px;
    color: white;
}

.site_info h4 {
    color: white;
    font-size: 20px;
}

.site_info h6 {
    color: rgb(219, 205, 205);
    font-size: 15px;
}

.sections {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.sections p {
    color: #545c6f;
    letter-spacing: 2px;
    font-weight: bold;
}

.sections p::before {
    content: ' ';
    width: 35px;
    height: 2px;
    background-color: #545c6f;
    position: relative;
    bottom: 4px;
    right: 3px;
    display: inline-block;
}
p:hover::before{
   width: 50px;
   background-color:white;
   
}
.sections p.active {
    color: white;
  }
  
  .sections p.active::before {
    width: 45px; 
    background-color: white;
  }
  
.sections>p:hover{
    color:white;
}

.social {
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.social a {
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 50px;
    color: rgb(219, 205, 205);
    display: inline-flex;
}

.social a i {
    font-size: 25px;
}

.movable {
    width: 45%;
}

.info {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
}

.info p {
    font-size: 20px;
    color: rgb(140, 136, 136);
}

.info p a {
    transition: color 2s;
    color: white;
    text-decoration: none;
}

.info p a:hover {
    color: aqua;
    cursor: pointer;
}

.info p span {
    color: white;
    font-weight: bold;
}

.info p span:hover .red {
    transition: all 0.1s;
    color: red;
    position: relative;
    bottom: 1px;
}

.info p span:hover .orange {
    transition: all 0.2s;
    color: orange;
    position: relative;
    bottom: 1px;
}

.info p span:hover .yellow {
    transition: all 0.3s;
    color: yellow;
    position: relative;
    bottom: 1px;
}

.info p span:hover .yellowgreen {
    transition: all 0.4s;
    position: relative;
    bottom: 1px;
    color: yellowgreen;
}

.info p span:hover .green {
    transition: all 0.5s;
    color: green;
    position: relative;
    bottom: 1px;
}

.info p span:hover .blue {
    transition: all 0.6s;
    color: blue;
    position: relative;
    bottom: 1px;
}

.info p span:hover .blueviolet {
    transition: all 0.7s;
    color: blueviolet;
    position: relative;
    bottom: 1px;
}

.sections > span {
    width: 20px;
    display: inline-block;
    height: 30px;
}
.light {
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    pointer-events: none; 
    box-shadow: 0 0 500px rgba(255, 255, 255, 0.2);
    
}
.experience{
    display: flex;
 
    flex-direction: column;
}
.present{
    height: 300px;
    width:600px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}
.exact_time{
    width: 30%;
    height: 100%;
}
.present_info{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.present:hover{
    background-color:RGB(84, 111, 120,0.1);
    border-radius: 30px;
}
.exact_time>p{
  text-align: center;
  color:#545c6f;
  margin-top: 35px;
}
.used_apps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.present_info>h3,.present_info>p{
    color: white;
    text-align: justify;
    
}.present_info>p{
color:#545c6f;}
.used_apps>a,.used_apps>span{
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
 height: 30px;
 width: 100px;
 border-radius: 30px;
 background-color:#7384af; ;
 color:aquamarine;
 text-decoration: none;
 cursor: pointer;

}
.full_resume_projects{
    margin-bottom: 40px;

}
.full_resume_projects>a{
    text-decoration: none;
    color:white;

}

.full_resume_projects>a:hover{
color:aqua;
}
.full_resume_projects>a>p{
    padding-left: 60px;
    font-weight: bold;
}
.full_resume_projects>a>p:hover{
    >i{
    position: relative;
    bottom: 2px;
    left: 2px;}

}

.project>a{
    display: inline-flex;

    justify-content: space-around;
    flex-direction: row;
    height: 200px;
    width:600px;
    text-decoration: none;
}
.project>a .image{
    padding-top: 20px;
    padding-left: 40px;
}
.project-info>h4{
    color:white;
}
.project-info>p{
    color:#545c6f;
}
.image>img{
    height: 60px;
    width: 70px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .stable, .movable {
      width: 100%;
      margin: 0;
    }
    .present, .project > a {
      width: 90%;
    }
  }
  